body {
    background-color: #ccc;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#grafico-pizza {
    width: 300px !important;
    height: 300px !important;
}

#grafico-linha-frequencia {
    width: 70% !important;
    height: 400px !important;
}

#grafico-linha-tendencia {
    margin-top: 40px;
    width: 100% !important;
    height: 600px !important;
}