body {
    background-color: #ccc;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#grafico-pizza{
    width: 300px !important;
    height: 300px !important;
}